$transparent: transparent !important;
$default: #666 !important;
$default-dark: #212529 !important;
$default-white: #fff !important;
$main-color: #fed136 !important;
$dark-soft: #777 !important;

$green-1: #80EED3 !important;
$green-2: #43E1BA !important;
$green-3: #2CD5AB !important;
$green-4: #4DA190 !important;

$grey-1: #D1DADC !important;
$grey-2: #A7B9BF !important;

$dark-green: #2A4A4A !important;